* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(29, 29, 29);
}

:root {
  --numbOfBars: 3;
}
header {
  background-color: rgb(29, 29, 29);
  color: white;
  text-align: center;
  height: 10vh;
}
section {
  background-color: red;
  /* width: 95vw; */
  width: 100%;
  height: 88vh;
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;
}
#controls-area {
  width: 25%;
  background-color: greenyellow;
}
form {
  text-align: center;
  padding: 10px;
}
input[type="range"] {
  width: 100%;
  margin-bottom: 20px;
}
/* #btn {
  display: block;
  margin: 0 auto;
} */
#bars-area {
  width: 100%;
  background-color: orange;
}

#bars {
  display: flex;
  justify-content: space-evenly;
}
.btn {
  display: block;
  border: none;
  width: 100%;
  height: 50px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 30px auto 0 auto;
}
.btn--sort {
  background-color: #4caf50; /* Green */
  color: white;
}
.btn--new {
  background-color: grey;
  color: white;
}
.btn--disable {
  background-color: darkmagenta !important;
}
.sliders {
  margin-top: 20px;
}

/* #size {
  width: 100%;
  outline: none;
} */
.btns {
  margin-top: 20%;
}
.bar {
  text-align: center;
  font-size: 15px;
  padding-top: 1vh;
  /* height: 50vh; */
  /* - 95 w & h, save some space */
  width: calc(85% / var(--numbOfBars));

  background-color: thistle;
}
.bar--swap {
  background-color: red;
  filter: drop-shadow(0 0 0.75rem crimson);
  /* add some cool animatoins */
}
.bar--highlight {
  background-color: darkmagenta;
}

/* nameing */
.bar--highlight--secondary {
  background-color: lightpink;
}
footer {
  text-align: center;
  color: aliceblue;
}
#speed {
  direction: rtl;
}

@media only screen and (max-width: 768px) {
  section {
    background-color: red;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
  }
  header {
    background-color: grey;
  }
  #controls-area {
    width: 100%;
  }

  input[type="range"] {
    width: 100%;
    margin: 0;
  }

  .sliders {
    margin: 0 0 15px 0;
  }
  .btns {
    margin: 0;
    display: flex;
  }
  .btn {
    margin: 0;
  }
  form {
    padding: 0;
  }

  #bars {
  }

  #controls-area {
    width: 100%;
    height: 20%;
    background-color: greenyellow;
  }
  #btn {
    display: block;
  }

  form {
  }
}
