* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(29, 29, 29);
}

:root {
  --numbOfBars: 3;
}
header {
  background-color: rgb(29, 29, 29);
  color: white;
  text-align: center;
  height: 10vh;
}
section {
  background-color: red;
  /* width: 95vw; */
  width: 100%;
  height: 88vh;
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;
}
#controls-area {
  width: 25%;
  background-color: greenyellow;
}
#btn {
  display: block;
}
#bars-area {
  width: 100%;
  background-color: orange;
}

#bars {
  display: flex;
  justify-content: space-evenly;
}
.bar {
  text-align: center;
  font-size: 15px;
  padding-top: 1vh;
  /* height: 50vh; */
  /* - 95 w & h, save some space */
  width: calc(85% / var(--numbOfBars));

  background-color: thistle;
}
.bar--swap {
  background-color: red;
  /* add some cool animatoins */
}
footer {
  text-align: center;
  color: aliceblue;
}
#speed {
  direction: rtl;
}
@media only screen and (max-width: 768px) {
  section {
    background-color: red;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
  }
  header {
    background-color: grey;
  }
  #controls-area {
    width: 100%;
  }

  #bars-area {
  }

  #bars {
  }

  #controls-area {
    width: 100%;
    height: 20%;
    background-color: greenyellow;
  }
  #btn {
    display: block;
  }

  form {
  }
}
